@page
@model IndexModel
@inject swaggerClient client
@{
    ViewData["Title"] = "Home page";

    var latest = await client.GetLatestAsync
        ("https://github.com/aspnet/AspNetCore",
        null, null, null, null, null, false, (ApiVersion10)ApiVersion40._20190116);
    var graph = await client.GetBuildGraphAsync(latest.Id, (ApiVersion9)ApiVersion40._20190116);

    //var latest = Newtonsoft.Json.JsonConvert.DeserializeObject<Build>(System.IO.File.ReadAllText(@"SampleData\latest.json"));
    //var graph = Newtonsoft.Json.JsonConvert.DeserializeObject<BuildGraph>(System.IO.File.ReadAllText(@"SampleData\graph.json"));
    var build = graph.Builds[latest.Id.ToString()];
}


<div class="text-center">
    <p>@build.AzureDevOpsBuildNumber - @build.Commit - @build.DateProduced</p>
    @foreach (var dep in build.Dependencies.Select(dr => graph.Builds[dr.BuildId.ToString()]).OrderByDescending(b => b.DateProduced))
    {
        <p>Build @dep.AzureDevOpsBuildNumber of @dep.GitHubRepository.Substring("https://github.com/".Length) @@ @dep.Commit.Substring(0, 6) produced @dep.DateProduced</p>
    }
</div>
