@page "/widget/{channelId}/{repo}"
@model WidgetModel

<div class="row">
    <div class="col">
        @Model.LatestBuild.AzureDevOpsBuildNumber - @Html.Raw(LinkFor(Model.LatestBuild.GitHubRepository, Model.LatestBuild.Commit)) - @Model.LatestBuild.DateProduced.Humanize()
    </div>
</div>
<hr />
@foreach (var dep in Model.LatestBuild.Dependencies.Select(dr => Model.BuildGraph.Builds[dr.BuildId.ToString()]).OrderByDescending(b => b.DateProduced))
{
    <div class="row">
        <div class="col">
            Build @dep.AzureDevOpsBuildNumber
            of @Html.Raw(LinkFor(dep.GitHubRepository, dep.Commit))
            produced @dep.DateProduced.Humanize()
        </div>
    </div>
}

@functions
{
    string DisplayFor(string repository, string commit)
    {
        return string.Concat(repository.Substring("https://github.com/".Length), "@", DisplayCommit(commit));
    }

    string LinkTargetFor(string repository, string commit)
    {
        return string.Concat(repository, "/commit/", commit);
    }

    string DisplayCommit(string commit)
    {
        return commit.Substring(0, 6);
    }

    string LinkFor(string repository, string commit)
    {
        return $@"<a href=""{LinkTargetFor(repository, commit)}"">{DisplayFor(repository, commit)}</a>";
    }
}
